<div class="brand-links">
  <a class="animate" (click)="routeTo('home')" [ngbTooltip]="Home" placement="bottom">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  <a class="animate" (click)="routeTo('dashboard')" [ngbTooltip]="Dashboard" placement="bottom">
    <i class="fa fa-laptop" aria-hidden="true"></i>
  </a>
  <a class="animate" (click)="routeTo('reads')" [ngbTooltip]="Reads" placement="bottom">
    <i class="fa fa-anchor" aria-hidden="true"></i>
  </a>
  <a class="animate" (click)="routeTo('tools')" [ngbTooltip]="Tools" placement="bottom">
    <i class="fa fa-magnet" aria-hidden="true"></i>
  </a>
  <a class="animate" (click)="routeTo('resume')" [ngbTooltip]="Resume" placement="bottom">
    <i class="fa fa-folder" aria-hidden="true"></i>
  </a>
</div>

<ng-template #Home>
  <div class="container">
    <b>HOME</b>
  </div>
</ng-template>

<ng-template #Dashboard>
  <div class="container">
    <b>DASHBOARD</b>
  </div>
</ng-template>

<ng-template #Reads>
  <div class="container">
    <b>READS</b>
  </div>
</ng-template>

<ng-template #Tools>
  <div class="container">
    <b>TOOLS</b>
  </div>
</ng-template>

<ng-template #Resume>
  <div class="container">
    <b>RESUME</b>
  </div>
</ng-template>
