.animate {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #272727;
  margin: 5px;
  border-radius: 20%;
  box-shadow: 0 5px 15px -5px #000000;
  color: #007bff;
  overflow: hidden;
  position: relative;
}

.animate i {
  line-height: 37px;
  left: 10px;
  align-items: center;
  margin-left: 10px;
  transition: 0.2s linear;
}

.animate:hover i {
  transform: scale(1.15);
  color: #272727;
}

.animate::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 125%;
  background: #007bff;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.animate:hover::before {
  animation: blueSlide 1.0s 1;
  top: -10%;
  left: -10%;
}

@keyframes blueSlide {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.container {
  font-family: Poppins;
  font-size: 12px;
  // border: 1px solid #607d8d;
  width: fit-content;
  align-content: center;
  text-align: center;
  // box-shadow: 3px 4px 4px 0px #607d8d;
  // border-radius: 3px;
  padding: 5px;
  color: #007bff;
}

.brand-links a {
  cursor: pointer;
}