.wrapper {
  padding: 15px;
}

.cards {
  display: flex;
  flex-flow: row wrap;

  .card-fx {
    position: relative;
    margin: 20px;
    width: 180px;
    height: 270px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      padding-bottom: 10px;
      font-size: 20px;
      background: none;
      color: #fff;
      transform: translateY(100%);
      transition: 0.3s;
    }

    &:after {
      position: absolute;
      content: '';
      z-index: 10;
      width: 200%;
      height: 100%;
      top: -90%;
      left: -20px;
      opacity: 0.1;
      transform: rotate(45deg);
      background: linear-gradient(to top, transparent, #fff 15%, rgba(255, 255, 255, 0.5));
      transition: 0.3s;
    }

    img {
      width: 100%;
      min-height: 100%;
    }

    &:hover {
      box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
      transform: translateY(-3px) scale(1.05) rotateX(15deg);

      figcaption {
        transform: none;
      }

      &:after {
        transform: rotate(25deg);
        top: -40%;
        opacity: 0.15;
      }
    }

    &:focus {
      box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
      transform: translateY(-3px) scale(1.05) rotateX(15deg);

      figcaption {
        transform: none;
      }

      &:after {
        transform: rotate(25deg);
        top: -40%;
        opacity: 0.15;
      }
    }

    &:active {
      box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
      transform: translateY(-3px) scale(1.05) rotateX(15deg);

      figcaption {
        transform: none;
      }

      &:after {
        transform: rotate(25deg);
        top: -40%;
        opacity: 0.15;
      }
    }
  }
}
