.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  box-shadow: 0 0 0 3px #272727;
  display: flex;
  color: #607d8b;
  z-index: 999;

  img {
    padding: 8px;
    width: 68%;
  }

  .c1 {
    background: #010000;
    text-align: center;
    cursor: pointer;
  }

  .c2 {
    background: #010000;
    margin-left: 3px;
    width: 100%;

    .amazon {
      i[id=play] {
        color: #39ff14;
      }

      i[id=pause] {
        color: #15f4ee;
      }

      i {
        padding: 14px;
        cursor: pointer;
      }
    }

    .routers {
      position: absolute;
    }
  }
}

audio {
  width: 100px;
}