<div class="modal-container">
  <div class="title">
    Text Encryption
    <i class="fa fa-times-circle" (click)="dismissModal()"></i>
  </div>
  <div class="row content">
    <div class="input-box">
      <input type="text" [(ngModel)]="inputValues.getValue" placeholder="Enter the string to encrypt">
      <input style="padding: 0 40px 0 20px;" type="text" [(ngModel)]="inputValues.putValue" placeholder="Get encrypted text" readonly>
      <a style="position: relative; right: 32px;" (click)="copyEncryptText()"><img src="assets/images/copy-white.svg"/></a>
      <div class="submit-button">
        <button (click)="generateHash()"> Generate Hash </button>
      </div>
    </div>
  </div>
</div>