<div class="modal-container">
  <div class="title">
    About
    <i class="fa fa-times-circle" (click)="dismissModal()"></i>
  </div>
  <div class="row content">
    <div class="col-md-6">
      <div  style="display: flex;">
        <img src="assets/images/vijay.jpg" alt="">
        <div class="profile-info">
          <label for="name">Vijay Wankhede</label>
          <label for="email">
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=wankhedevijay04@gmail.com">
              wankhedevijay04@gmail.com
            </a>
          </label>
          <label for="profession">Software Developer</label>
        </div>
      </div>
      <label for="about">
        I am a person who is positive about every aspect of life. There are many things I like to do, to see, and to experience. I like to read, I like to write; I like to think, I like to dream; I like to talk, I like to listen. I like to see the sunrise in the morning, I like to see the moonlight at night; I like to feel the music flowing on my face, I like to smell the wind coming from the ocean.
      </label>
    </div>
    <div class="col-md-6">
      <div  style="display: flex;">
        <img src="assets/images/ajay.jpg" alt="">
        <div class="profile-info">
          <label for="name">Ajay Wankhede</label>
          <label for="email">
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=007ajaywankhede@gmail.com">
              007ajaywankhede@gmail.com
            </a>
          </label>
          <label for="profession">Socionist, MBTI Practitioner</label>
        </div>
      </div>
      <label for="about">
        <i>I am an enthusiast of socionics and an avid reader of socionics and MBTI blogs for the past 5 years. I am paying attention to the changes and new discoveries that have been proposed in our MBTI community by various intellectual community members and for this reason, I will be here for you to provide a multi-perspective in MBTI and enneagrams theory.</i>
      </label>
    </div>
  </div>
</div>