<div class="container">
  <div class="content">
    <h6>Hand-crafted tools for general purpose usage.</h6>
    <div class="item">
      <button class="" (click)="openTextEncryptModal()">Text Encryption SHA256</button>
      <p>In need of a button, but not the hefty background colors they bring?</p>
    </div>
    <div class="item">
      <button class="" (click)="openTextEncryptModal()">Text Encryption</button>
      <p>In need of a button, but not the hefty background colors they bring?</p>
    </div>
    <div class="item">
      <button class="" (click)="openTextEncryptModal()">Text Encryption BASE64</button>
      <p>In need of a button, but not the hefty background colors they bring?</p>
    </div>
    <div class="item">
      <button class="" (click)="openTextEncryptModal()">Text Encryption SHA256SHA256</button>
      <!-- <p>In need of a button, but not the hefty background colors they bring?</p> -->
    </div>
  </div>
  <div class="contact">
    <p>For more such tools, visit github profile.</p>
    <a href="https://github.com/wankhede04/repositories" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </div>
</div>