.modal-container {
  padding: 10px;
  background-color: #1B1B1B;
  color: #FFFFFF;

  .title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #CCCCCC;
  
    i {
      cursor: pointer;
    }
  }
  .content {
    margin: 10px 0;
  }
}