<footer class="app-footer">
  <hr>
  <div class="container-fluid">
    <div class="row footer-row">
      <div class="col col-footer-left">
        <label for="about">Donate</label>
        <label for="about">Redeem</label>
        <label for="about">About</label>
      </div>
      <div class="col flex-center-center">
        <span class="d-block d-md-inline-block social-icons-container">
          <a href="https://www.facebook.com/vijay.endless" target="_blank">
            <i class="fa fa-facebook-f" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/wankhede__" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.linkedin.com/in/wankhedevijay/" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://github.com/wankhede04" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </span>
      </div>
      <div class="col col-footer-right">
        <div class="text-right">
          All Rights Reserved: {{ currentYear }}
        </div>
      </div>
    </div>
  </div>
</footer>
